{{!-- <div class="jumbotron text-center">
    <h1 class="display-3">JustCliks</h1>
    <p class="lead">JustCliks Helps to Manage Your Shop</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Ideas</a>
</div> --}}