<div class="card card-body">
    <h3>College Name Form</h3>
    <form action="/ideas" method="POST">
        <div class="form-group">
            <label for="collegename">College Name</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="text" class="form-control" name="details" placeholder="DDMMYYYY" required></input>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>